@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  color: white;
  background-color: black;
  background-image: radial-gradient(rgb(65, 65, 65) 1px, transparent 1px);
  background-size: 30px 34px;

}

#bgCanvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

main {
  position: relative;
  z-index: 1;
  gap: 1rem;
  justify-content: space-around;
  align-items: center;

}

.karema-wrapper {
  position: relative;
  width: 215px;
  height: 215px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.karema-wrapper::before {
  content: '';
  position: absolute;
  inset: -5px;
  background: conic-gradient(rgb(12, 10, 9), #a57474);
  border-radius: 50%;
  animation: rotate 5s linear infinite;
  filter: blur(20px);
  z-index: -5;
}


@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

.ant-timeline-item-tail {
	background-color: #666666;
}

 .ant-timeline-item-head-blue {
    background-color: #666666 !important;
    border-color: #A06FC2 !important;
}